html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.maintitle {
    background-color: gray;
    color: aqua;
    text-align: center;
    font-size: 82px;
}

.recipe {
    font-size: 34px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: inline-block;
    height: 100px;
    width: 250px;
    margin: auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: gray;
    color: aqua;
    font-size: 52px;
}

h3,
h4 { 
    background-color: gray;
    font-weight: bold;
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
}

.rlist {
    display: inline;
    margin: auto;
}

